---
import { LOGO_IMAGE, SITE } from '../../config';
import Hr from './Hr.astro';
import LinkButton from './LinkButton.astro';

import logoPNG from '/assets/logo.png';
import ThemeSwitch from './ThemeSwitch.svelte';
import logoSVG from '/assets/logo.svg';

export interface Props {
  activeNav?: 'posts' | 'tags' | 'about' | 'search';
}

const { activeNav } = Astro.props;
---

<header class='px-5vw py-9 lg:py-12'>
  <nav class='text-primary mx-auto flex max-w-8xl items-center justify-between'>
    <div class='flex justify-center gap-4 align-middle'>
      <a
        href='/'
        class='text-primary underlined block whitespace-nowrap text-2xl font-medium transition focus:outline-none'
      >
        <h1>@Ezaz</h1>
      </a>
    </div>

    <ul class='hidden md:flex flex-row gap-3 lg:gap-5'>
      <li class='px-5 py-2'>
        <a href='/about' class='block whitespace-nowrap text-lg font-medium'>
          About
        </a>
      </li>

      <li class='px-5 py-2'>
        <a href='/blog' class='block whitespace-nowrap text-lg font-medium'>
          Blog</a
        >
      </li>

      <li class='px-5 py-2'>
        <a href='/tags' class='block whitespace-nowrap text-lg font-medium'>
          Tags
        </a>
      </li>
    </ul>

    <ul class='flex flex-row'>
      <li class='px-5 py-2'>
        <a href='/search' class={activeNav === 'search' ? 'active' : ''}>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            ><path
              fill='currentColor'
              fill-rule='evenodd'
              d='M14.385 15.446a6.75 6.75 0 1 1 1.06-1.06l5.156 5.155a.75.75 0 1 1-1.06 1.06l-5.156-5.155Zm-7.926-1.562a5.25 5.25 0 1 1 7.43-.005l-.005.005l-.005.004a5.25 5.25 0 0 1-7.42-.004Z'
              clip-rule='evenodd'></path></svg
          >
          <span class='sr-only'>Search Icon</span>
        </a>
      </li>

      <li class='px-5 py-2'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          ><path
            fill='none'
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M8 12a4 4 0 1 0 8 0a4 4 0 1 0-8 0m-5 0h1m8-9v1m8 8h1m-9 8v1M5.6 5.6l.7.7m12.1-.7l-.7.7m0 11.4l.7.7m-12.1-.7l-.7.7'
          ></path></svg
        >
      </li>
    </ul>
  </nav>
</header>
