<section class='h-screen bg-slate-500 flex flex-col items-center'>
  <h4 id='heading' class='text-4xl font-semibold block'>Featured Projects</h4>

  <p>
    “Talk is cheap. Show me the code”? I got you. Here are some of my projects
    you shouldn't misss
  </p>
</section>
